.fav__page
    .banner
        .container
            .banner-descr
                .banner-descr__title Bonus na prvi #[span depozit]
                ul.banner-descr__bonus
                    li.banner-descr__bonus-item
                        .banner-descr__bonus-item_top
                            .back do 5.000 KN
                            .border 663,61 EUR
                        .banner-descr__bonus-item_bottom 100% BONUSA NA PRVI DEPOZIT
                    li.banner-descr__bonus-item
                        .banner-descr__bonus-item_top
                            .back 200 KN
                            .border 26,54 EUR
                        .banner-descr__bonus-item_bottom risk-free bet
                    li.banner-descr__bonus-item
                        .banner-descr__bonus-item_top
                            .back 200
                        .banner-descr__bonus-item_bottom besplatnih vrtnji

            .banner-person
                .wrapper
                    .banner-person__man
                    .banner-person__bg
                    .banner-person__secondBg
                    .banner-person__name Filip Hrgović #[br]brand ambassador Favbet
    .info
        .container
            .info-spin
                .info-spin__title 200 #[br]FREE SPINOVA
                .info-spin__sub 6,64 EUR
                .info-spin__descr Za minimalno 50 kn depozita, darujemo ti 200 free spinova
                a(href="/hr/promocije/200-free-spinova/").info-spin__btn.btn ZAPOČNI S IGROM
            .info-risk
                .info-risk__title RISK-FREE BET DO 200 KN
                .info-spin__sub 26,54 EUR
                .info-risk__descr Vraćamo novac ukoliko je oklada gubitna
                a(href="/hr/promocije/risk-free-bet").info-risk__btn.btn UVJETI
            .info-bonus
                .info-bonus__title 100% BONUSA NA UPLATU
                .info-spin__sub 663,61 EUR
                .info-bonus__descr 100% bonusa za Casino i sportske oklade
                a(href="/hr/promocije/100-posto-bonusa-na-prvu-uplatu/").info-bonus__btn.btn DETALJI
    .rules
        .container
            details.rules__drop
                summary UVJETI PROMOCIJE
                ul.drop-txt
                    li Promocija vrijedi za sve novo registrirane igrače i vrijedi u periodu od 27.05.2021. do 31.12.2022. u 23:59.
                    li Svi korisnici koji se registriraju u navedenom periodu dobivaju bonuse dobrodošlice u iznosu od 200,00 kn RISK FREE BET opcije, 200 besplatnih vrtnji i 100% bonusa na prvu uplatu do 5000Kn.
                    .drop-txt__title RISK FREE BET
                    li Prilikom prve uplate igraču će automatski biti dodijeljena opcija za okladu bez rizika, odnosno da igrači za okladu, nakon što izvrše uplatu na svoj korisnički račun, po svom izboru aktiviraju opciju “RISK-FREE BET”, te u slučaju da listić nije dobitan, na račun se vraća uloženi novac.
                    li U slučaju dobitnog listića, opcija će se smatrati iskorištenom, dok će dobitak u potpunosti biti isplaćen na igračev račun.
                    li Maksimalni iznos dodijeljene RISK FREE bet opcije po igraču je 200,00 kn, dok RFB promocija ima valjanost od 10 dana od datuma izdavanja iste.
                    li Promociju je moguće iskoristiti samo za pojedinačnu okladu s najmanjim tečajem od 1.5, ili na listić s više događaja – uključujući više kombiniranih oklada (oklade događaja uživo i prije početka događaja) – ili na sistemskom listiću u kojem svaki događaj ima tečaj od minimalno 1.5.
                    li Nakon što su novčana sredstva dodijeljena na račun igrača u slučaju dobitne ili gubitne risk-free oklade, igrač prije nego li povuče sredstva, dužan je uplatiti oklade u iznosu ne manjem od vrijednosti odigrane risk-free oklade i minimalnog tečaja od 1.5 (ako je riječ o listiću s više događaja ili sistemskom listiću svaki događaj treba imati tečaj od minimalno 1.5). Samo sportske oklade (oklade prije početka događaja ili oklade uživo) uzimaju se u obzir, kao i oklade iz Cybersport kategorije (E-nogomet, E-Košarka, E-Tenis, E-Hokej).
                    li Ako se ne iskoristi "RISK FREE BET" opcija prilikom kreiranja oklade nije moguće naknadno tražiti uključenje te iste opcije.
                    li U sklopu ove promocije moguće se kladiti na događaje uživo, prematch ponudu i virtualne igre.
                    li Ostala ponuda na stranici ne ulazi u uvjete ove promocije.
                    li Ako je uloženi novac na listiću veći od 200,00 HRK (prije manipulativnih troškova) oklada ne podliježe uvjetima RFB promocije.
                    li Sredstva uplaćena korištenjem risk free bet promocije u slučaju zatvaranja računa nije moguće isplatiti prije ostvarivanja svih uvjeta ove promocije.
                    .drop-txt__title BESPLATNE VRTNJE
                    p Besplatne vrtnje igrač dobiva nakon što napravi depozit od minimalno 50,00 kn
                    p Vrijednost besplatne vrtnje iznosi 0,10HRK i dodjeljuje se na igrici Burning Hot.
                    .drop-txt__title 100% BONUS
                    li Igrač osvaja 100% bonusa na prvi depozit koji mora biti minimalno 100 kn, do maksimalnog iznosa od 5000 kn.
                    li Kako bi igrač osvojio pravo na 100% bonusa mora inicijalni ulog odigrati 20x.
                    .drop-txt__title Sve uvjete bonusa možete pronaći ovdje
                    li FavBet zadržava pravo prekinuti promociju ili izmijeniti uvjete prije navedenog datuma, bez prethodne najave.
